#new-org-header-non-invite .new-org-header-non-invite{
    padding: 0 30px;
    margin: 30px 0 0;
}
#new-org-header-non-invite .new-org-header-non-invite.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#new-org-header-non-invite .new-org-header-non-invite .uk-link {
    margin: 15px 0 0;
}
#new-org-header-non-invite .new-org-header-non-invite h2 {
    margin: 0 0 30px;
}
#new-org-header-non-invite .new-org-header-non-invite .uk-button {
    border-radius: 20px;
}
#new-org-header-non-invite .new-org-header-non-invite .uk-button-primary {
    margin: 0 15px 0 0;
}
